In [1]:
# 各種import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## RDBぽいJOINをする（onで指定したkeyが重ならないとき）

In [2]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [3]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [4]:
left

   key  lval
0  foo     1
1  foo     2

In [5]:
right

   key  rval
0  foo     4
1  foo     5

In [6]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

## RDBぽいJOINをする（onで指定したkeyが重なるとき）

In [7]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

In [8]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [9]:
left

   key  lval
0  foo     1
1  bar     2

In [10]:
right

   key  rval
0  foo     4
1  bar     5

In [11]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5